$family1: "Lato", sans-serif;
$family2: "Montserrat", sans-serif;
$Color1: #2f5d62;
$Color2: #5e8b7e;
$Color3: #a7c4bc;
$Color4: #dfeeea;
.header {
  background-color: $Color1;
  padding: 1rem;
  width: 100vw;
  text-align: center;
}
